<form [formGroup]="form" (ngSubmit)="onSubmit()" class="card p-3 shadow">
  <h5>Form Preview</h5>

  <div *ngFor="let field of fields" class="mb-3">
    <label>{{ field.label }} <span *ngIf="field.required">*</span></label>

    <ng-container [ngSwitch]="field.type">
      <input *ngSwitchCase="'text'" type="text" class="form-control" [formControlName]="field.label" [placeholder]="field.placeholder" />
      <textarea *ngSwitchCase="'textarea'" class="form-control" [formControlName]="field.label" [placeholder]="field.placeholder"></textarea>

      <div *ngSwitchCase="'radio'">
        <div *ngFor="let opt of field.options" class="form-check">
          <input type="radio" class="form-check-input" [value]="opt.value" [formControlName]="field.label" />
          <label class="form-check-label">{{ opt.label }}</label>
        </div>
      </div>

      <div *ngSwitchCase="'dropdown'">
        <select class="form-select" [formControlName]="field.label">
          <option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.label }}</option>
        </select>
      </div>

      <div *ngSwitchCase="'checkbox'">
        <div *ngFor="let opt of field.options" class="form-check">
          <input type="checkbox" class="form-check-input" [formControlName]="field.label" />
          <label class="form-check-label">{{ opt.label }}</label>
        </div>
      </div>
    </ng-container>
  </div>
<button type="submit" class="btn fancy-button w-100">
  <span>
    
    Submit
  </span>
</button>
</form>
