<form [formGroup]="form" (ngSubmit)="onSubmit()" class="card shadow-sm p-4 preview-from">
  <h5 class="fw-semibold sub-headings" [ngClass]="{'my-auto': fields.length==0}">Form Preview</h5>

  <div *ngFor="let field of fields; let i = index" class="mb-3 position-relative">
    <label class="form-label">
      {{ field.label }} <span *ngIf="field.required" class="text-danger">*</span>
    </label>

    <!-- Text Input -->
    <input *ngIf="field.type === 'text'" class="form-control form-control-sm" [formControlName]="field.label"
      [placeholder]="field.placeholder" />
      <div class="text-danger small" *ngIf="form.get(field.label)?.touched && form.get(field.label)?.invalid">
        <div *ngIf="form.get(field.label)?.errors?.['required']">This field is required.</div>
      </div> 
      <div class="btn btn-sm btn-light remove-btn" (click)="removeField(i)">X</div>
    <!-- Textarea -->
    <textarea *ngIf="field.type === 'textarea'" class="form-control form-control-sm" [formControlName]="field.label"
      [placeholder]="field.placeholder"></textarea>

    <!-- Radio Buttons -->
    <div *ngIf="field.type === 'radio'">
      <div *ngFor="let opt of field.options" class="form-check form-check-inline">
        <input type="radio" class="form-check-input" [value]="opt.value" [formControlName]="field.label" />
        <label class="form-check-label">{{ opt.label }}</label>
      </div>
    </div>

    <!-- Checkboxes -->
    <div *ngIf="field.type === 'checkbox'">
      <div *ngFor="let opt of field.options" class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" [value]="opt.value" />
        <label class="form-check-label">{{ opt.label }}</label>
      </div>
    </div>

    <!-- Dropdown -->
    <select *ngIf="field.type === 'dropdown'" class="form-select" [formControlName]="field.label">
      <option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.label }}</option>
    </select>
  </div>

  <button *ngIf="fields.length>0" type="submit" class="btn fancy-button w-100">
    <span>
      Submit
    </span>
  </button>
</form>